body{
  font-family: Arial, sans-serif;
}
.black-layer{
  position: fixed;
  top: 0;
  right: 0;
  width:100%;
  height:35px;
  background-color: white;
}
.menu-btn{
  width:100%;
  height:40px;
  margin:auto 0;
  text-align:center;
  justify-content: space-around;
    align-items: center;
  border: 1px solid #e7e7e777;
  backdrop-filter: blur(5px);
  background-color: white;
  transition:all 0.5s ease;
  border-radius: 8px;  
}
.menu-btn:hover{
  background-color: blue;
  color:white;
}
.menuclose{
  position: fixed;
  top: 0;
  right: 0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(5px);
  background-size: cover;
  z-index: 9;
  opacity: 0;
  transition:opacity 0.5s ease;
}
.btn{
  position: fixed;
  top:0;
  left:0;
  width:40px;
  height:35px;
  z-index:10;
}
.menucloseclick{
  position: fixed;
  top: 100%;
  left: 0;
  width:100%;
  height:100%;
  z-index: 10;
  transition:all 0.5s ease;
}
.menu-box{
  position: fixed;
  top: 0;
  left: -70%;
  width:70%;
  height:100%;
  background-color: rgba(255,255,255,1);
  z-index: 11;
  transition:left 0.5s ease;
}
.huadong{
  overflow: scroll;
  height: 100vh;
}
.beiji{
  position: fixed;
  top: 3px;
  z-index: 5;
}
.bj {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: #e7e7e7 url('./icon/bj.jpg') center no-repeat ;
  background-size: cover;
  z-index: -2;
  backdrop-filter: blur(5px);
}

.page_change{
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-board{
  position: absolute;
  background: #f5f5f5;
  top:100vh;
  left:0;
  width:100%;
  z-index: -5;
}
  
.post {  
    background: #fff;  
    border-radius: 8px;  
    margin: 20px 0;  
    padding: 20px;  
    overflow:hidden;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
   
}  
  
/* 头像样式 */  
.post-avatar {  
    width: 50px;  
    height: 50px;  
    border-radius: 50%;  
    float: left;  
    margin-right: 10px;  
    -moz-user-select: -moz-none;
	  -khtml-user-select: none;
	  -webkit-user-select: none;
	  -o-user-select: none;
	  user-select: none;
}  
  
/* 帖子元数据样式 */  
.post-meta {  
    float: left;  
    width: calc(100% - 60px);  
}  
  
.post-name {  
    margin: 0;  
}  
  
.post-date, .post-id {  
    font-size: 0.85em;  
    color: #666;  
}  
  
/* 帖子内容样式 */  
.post-content {  
    clear: both;  
    margin-top: 10px;  
}  
  
.post-title {  
    margin: 0 0 10px 0;  
    font-size: 1.25em;  
}  
  
.post-text {  
    line-height: 1.6;  
    color: #333;
    overflow:hidden;
     display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;	
}

.avatar{
  margin-top: 0%;
  left:25%;
  width: 60px;
  height: 60px;
  border-radius: 200px;
  user-select: none;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
      /* 增加磨砂质感 */
  backdrop-filter: blur(10px);
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  font-size: 60px;
  font-weight: bolder;
}

.download {
  background-color: #0015FF;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 4px;
  transition: box-shadow .5s ease, transform .2s ease;
  will-change: transform;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  width: 180px;
  height: 60px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-radius: 60px;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

a {
  text-decoration: none;
}
      

.navbar-toggle-btn span {
  display: block;
  height: 3px;
  width: 25px;
  background-color: black;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 35px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 88;
  }
  
  .navbar a {
    padding: 8px;
  }

  .navbar.show {
    display: flex;
  }

  .navbar-toggle-btn {
    display: block;
    z-index: 7;
  }
  .title {
    color: white;
    position: relative; 
    margin-top: 50px;
    height: 250px;
    font-size: 65px;
    font-weight: bolder;
    animation: float 2s;
  }
  .download {
    background-color: #0015FF;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border-radius: 4px;
    transition: box-shadow .5s ease, transform .2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    color: white;
    cursor: pointer;
    position: relative;        
    padding: 18px;
    width: 180px;
    height: 60px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 60px;
    margin: 0 auto;
    animation: jianxian 2s;
    
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 88;
  }

  .navbar a {
    padding: 8px;
  }

  .navbar-toggle-btn {
    display: none;
  }

  .title {
    color: white;
    position: relative;        
    margin-top: 50px; 
    height: 460px;
    font-size: 100px;
    font-weight: bolder;
    animation: float 2s;
  }

  .download {
    background-color: #0015FF;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border-radius: 4px;
    transition: box-shadow .5s ease, transform .2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    color: white;
    cursor: pointer;
    position: relative;        
    padding: 18px;
    width: 200px;
    height: 80px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    border-radius: 60px;
    margin: 0 auto;
    animation: jianxian 2s;
  }
}

.dao {
  width: 100%;
  height: 50px;
  color: white;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
@keyframes float {    
  from { position: relative;       
     margin-top:200px;        
     opacity: 0;    
     }    
  to {  position: relative;        
    margin-top: 50px;        
    opacity: 1;    
    }
  }
  @keyframes sjbanben {    
    from { position: relative;       
       margin-top:200px;        
       opacity: 0;    
       }    
    to {  position: relative;        
      margin-top: 50px;        
      opacity: 1;    
      }
    }
  @keyframes jianxian {    
    from { position: relative;              
       opacity: 0;    
       }    
    to {  position: relative;            
      opacity: 1;    
      }
    }
.jian {  
  animation: jian-animation 0.5s forwards; /* forwards 确保动画保持在最后一帧 */  
}  
.jianback {  
  animation: jianback-animation 0.5s forwards; /* forwards 确保动画保持在最后一帧 */  
}  
  
@keyframes jian-animation {  
  from {  
    left: -70%;
  }  
  to {  
    left: 0%;
  }  
}
@keyframes jianback-animation {  
  from {  
    left: 0%;
  }  
  to {  
    left: -70%;
  }  
}
.layer {  
  animation: layer-animation 0.5s forwards; /* forwards 确保动画保持在最后一帧 */  
}  
.layerback {  
  animation: layerback-animation 0.5s forwards; /* forwards 确保动画保持在最后一帧 */  
}  
  
@keyframes layer-animation {  
  from {  
    opacity: 0;
    display:flex;
    height:100%;
  }  
  to {  
    opacity: 1;
  }  
}
@keyframes layerback-animation {  
  from {  
    opacity: 1;
  }  
  to {  
    opacity: 0;
    display:none;
  }  
}
.menu-box.active{
  left: 0%;
}
.menuclose.active{
  opacity: 1;
}
.menucloseclick.active{
  top: 0;
}